
/* Tablet device */


/* navbar */
@media screen and (min-width:577px) and (max-width:992px) {

.nav-container{
display: flex;
    gap: 50px;
 }


/* banner */
.banner-container{
   
 
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: end;
     margin-top: 100px;
     
    
}
.banner-content{
    max-width: 100%;
  
}
.banner-content h2{
    
font-size: 2rem;
margin-bottom: 13px;
margin-top: 20px;
line-height: 50px;
}

.banner-content p{
color: rgba(0, 0, 0, 0.5);
font-size: 1rem;

}
/* plant-container */
.plant-container{
    max-width: 80%;
    margin: 0 auto;
    
     margin-top: 100px;
    
}
.heading{
    text-align: center;
}
.heading h3{
   font-size: 3rem;
}


.heading p{

font-size: 1.2rem;
font-weight: 400;
padding: 16px 100px 0 100px;

}
.plant-cart-section{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.plant-cart h4{


font-size: 1.3rem;
font-weight: 500;
}
.plant-cart p{


font-size: 1.3rem;
font-weight: 700;
}

.btn{
    font-size: 0.875rem;
}

/* flower-lover-container */
.flower-lover-container{ 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
}
.flower-lover-description{
        max-width: 100%;
        padding-top: 0;
    }
 .badge-img{
        visibility: hidden;

    }

     /* deal-container */

    .deal-img-container{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    

}

.container2{
    width: 100%;
    position: relative;
    flex: 0;
    

}
.container1{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    gap: 28px;
   


}
.text3 h5{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.text3 a{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}




}
















/* mobile device */


/* navbar */
@media screen and (max-width:576px) {

.nav-container{
    max-width: 100%;
    margin: 20px 0;
   padding: 0 15px;
}

.home a, .shop a, .about a{
    display: none;

}
/* banner */
.banner-container{
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: end;
     margin-top: 50px;
   
    
}
.banner-content{
    max-width: 100%;
    padding: 0 15px;
  
}
.banner-content h2{
    
font-size: 1.5rem;
margin-bottom: 13px;
margin-top: 20px;
line-height: 30px;
}

.banner-content p{
color: rgba(0, 0, 0, 0.5);
font-size: 0.875rem;

}




/* plant-container */
.plant-container{
    max-width: 100%;
    margin: 0 ;
    margin-top: 100px;
    
    
}
.heading{
    text-align: center;
}
.heading h3{
   font-size: 1.5rem;

}


.heading p{
color: rgba(0, 0, 0, 0.5);

font-size: 0.875rem;
font-weight: 400;
 padding: 16px 28.5px;
}
.plant-cart-section{
    margin-top: 0px;
    padding: 0 15px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.plant-cart{
    max-width: 270px;
    height: 485px;
}
.plant-cart h4{
color: rgb(17, 17, 17);

font-size: 1.375rem;
font-weight: 500;
margin-top: 20px;
text-align: center;
}
.plant-cart p{
color: rgb(17, 17, 17);

font-size: 1.375rem;
font-weight: 700;
margin-top: 20px;
text-align: center;
margin-bottom: 20px;
}

.btn{
    
     font-size: 1rem;
    }

/* flower-lover-container */
    .flower-lover-container{
    max-width: 100%;
    margin: 0 ;
    margin-top: 100px;
     padding: 0 15px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;

    }
    .flower-lover-description{
        max-width: 100%;
        padding-top: 0;
    }
    .flower-lover-description h2{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
    }
    .flower-lover-description h2>span{
        display: inline;
    }

    .flower-lover-description ul{
        margin-left: 15px;
    }
     .flower-lover-description ul>li{
    color: rgba(0, 0, 0, 0.5);
    
    font-size: 0.875rem;
    margin-bottom: 20px;
    
    }
    .badge-img{
        visibility: hidden;

    }

    /* deal-container */
   .lastest-deal-container{
    max-width: 100%;
    margin: 0 ;
    
     margin-top: 120px;
    
}

.deal-img-container{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    

}

.container2{
    width: 100%;
    position: relative;
    flex: 0;
    

}
.container1{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    gap: 28px;
   


}

.text3 h5{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.text3 a{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
}












