*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: #f5f8ff;
}


img{
    width: 100%;
}

.Inter{
     font-family: "Inter", sans-serif;
}
.Noto{
      font-family: "Noto Serif", serif;

}
 

/* navbar */

.nav-container{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.nav-links{
    display: flex;
    gap: 48px;
    align-items: center;
}
.nav-links li{
    list-style: none;
    
}
.nav-links li a{
    text-decoration: none;
    
}
.home a{
color: rgb(37, 36, 50);
font-size: 1rem;
font-weight: 700;
line-height: 24px;

}
.shop a, .about a{
color: rgb(137, 135, 161);
font-size: 1rem;
font-weight: 400;
line-height: 24px;

}
.cart-icon a{
color: rgb(0, 0, 0);
font-size: 1rem;
font-weight: 400;

}
/* banner */
.banner-container{
    
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 80%;
    margin: 0 auto;
    
     margin-top: 120px;
    
}
.banner-content{
    max-width: 50%;
  
}
.banner-content h2{
    
font-size: 4rem;
font-weight: 700;
line-height: 89px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 13px;
}
.banner-content h2>span{
    color: rgb(233, 90, 8);
}
.banner-content p{
color: rgba(0, 0, 0, 0.5);
font-size: 1.3rem;
font-weight: 400;
text-align: left;

}
.banner-img img{
    display: block;
}


/* plant-container */
.plant-container{
    max-width: 80%;
    margin: 0 auto;
    
     margin-top: 120px;
    
}
.heading{
    text-align: center;
}
.heading h3{
   
font-size: 3.125rem;
font-weight: 700;
}
.heading h3>span{
    color: rgb(233, 90, 8);
}

.heading p{
color: rgba(0, 0, 0, 0.5);

font-size: 1.375rem;
font-weight: 400;
padding: 16px 126px 0 126px;

}
.plant-cart-section{
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.plant-cart{
    max-width: 270px;
    height: 485px;
}
.plant-cart h4{
color: rgb(17, 17, 17);

font-size: 1.375rem;
font-weight: 500;
margin-top: 20px;
text-align: center;
}
.plant-cart p{
color: rgb(17, 17, 17);

font-size: 1.375rem;
font-weight: 700;
margin-top: 20px;
text-align: center;
margin-bottom: 20px;
}

.btn{
     width: 100%;
     height: 50px;
     padding: 0 50px;
     background-color: rgb(233, 90, 8);
     color: white;
     font-size: 1rem;
     font-weight: 600;
     border: none;
     text-align: center;
     
    }
    /* flower-lover-container */
    .flower-lover-container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 210px;
    display: flex;
    justify-content: space-between;
    gap: 60px;

    }
    .flower-lover-description{
        max-width: 50%;
        padding-top: 20px;
    }
    .flower-lover-description h2{
    color: rgb(0, 0, 0);
    font-size: 3.125rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
    }
    .flower-lover-description h2>span{
        display: block;
    }

    .flower-lover-description ul{
        padding-left: 20px;
    }
     .flower-lover-description ul>li{
    color: rgba(0, 0, 0, 0.5);
    
    font-size: 1.375rem;
    font-weight: 400;
  
    text-align: left;
    margin-bottom: 20px;
    
    }

    .main-img{
        display: block;
    }
    .flower-lover-img{
        position: relative;
      
    }
    /* animation */
    @keyframes badge-round {
    

    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
        
    }
    .badge-img{
        position: absolute;
        width: 286px;
        height: 286px;
        top: -24%;
        right: -20%;
        animation: badge-round 5s infinite forwards linear;
    }


    /* deal-container */
.lastest-deal-container{
    max-width: 80%;
    margin: 0 auto;
    
     margin-top: 120px;
    
}

.deal-img-container{
    margin-top: 120px;
    display: flex;
    gap: 28px;
  

}
.container2{
    width: 50%;
    position: relative;
    flex: 1;
    

}
.container2 img{
    height: 100%;
    border-radius: 20px;
    
    
    
}
.gradient{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
     border-radius: 20px;
    
}

.container1{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
   


}
.flower1, .flower2{
    border-radius: 20px;
    

}
.container1-flower1{
    position: relative;
}
.gradient1{
    height: 99%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    border-radius: 20px;

}

.container1-flower2{
    position: relative;
}
.gradient2{
    height: 98%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    border-radius: 20px;

}
.text1,.text2, .text3{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.text1 h5, .text2 h5{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.text1 a, .text2 a{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.text3 h5{
     font-size: 2.3rem;
    font-weight: 700;
     margin-bottom: 5px;

}
.text3 a{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

/* join-container */
.join-container{
    max-width: 100%;
    height: 60vh;
    margin-top: 120px;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.join-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -90%);
}
.join-text-container h3{
    color: rgb(255, 255, 255);
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 20px;
    
    
    

}



.input-btn{
  display: flex;
  justify-content: center;
  
}
.input-btn input {
  border: none;
  height: 50px;
width: 100%;
padding: 5px 10px;
margin-left: -70px;
}
.input-btn .btn1 {

     background-color: rgb(233, 90, 8);
     color: white;
     font-size: 1rem;
     font-weight: 600;
     border: none;
     text-align: center;
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 30%;
    margin-right: -70px;
    
}
.input-btn .btn1:hover {
    cursor: pointer;
}
/* footer */
footer{
    max-width: 100%;
    height: 50vh;
    margin-top: 120px;

}
.footer-container{
    padding: 50px 160px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    

}
.footer1 figure>img{
    
    width: 30%;
}
.footer1 p{
    
color: rgba(0, 0, 0, 0.5);

font-size: 1.375rem;
font-weight: 400;
text-align: left;
max-width: 80%;
}
.footer2{
    width: 30%;
     
     

    

}
.footer-links{
    display: grid;
     grid-template-columns: repeat(2,1fr);
     column-gap: 10px;
     row-gap: 30px;

}
.footer-links li{
    list-style: none;
    
}
.footer-links li a{
    text-decoration: none;
    color: rgb(107, 114, 128);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    
}
.footer3{
    width: 20%;
    display: flex;
  
    justify-content: space-evenly;
    height: fit-content;
    align-items: center;
   

}
.footer3 figure>img{
    
    width: 100%;
}


